# Short Intro to Pandas

Pandas is a Python package for data manipulation and analysis. It provides fast, flexible, and expressive data structures. Its a way to work with Excel using code. Then it is easier to automate data processing tasks that otherwise would take longer using Excel.

- Contains robust IO tools for loading data such as Excel, CSV. Also works with HDF5 (req. pyTables)
- Intuitive merging and joining datasets, great for a growing dataset
- Allows insertion, deletion and reorganization of the columns and rows.
- It allows easy filtering/group by tool of the DataFrame with respect to a variable value, which is very useful for cleaning up a dataset
- Allows the plotting of information from a DataFrame
- Many other libraries are built on top of Pandas for extended uses

However, as any other tool we have to be familiar with it and be prepared for common problems that might arise.

---------------------------------------------------------------------

## Jumping into action

As always, importing the library is a must, it is commonly done as follows:

In [1]:
import pandas as pd

In this case, we will be importing a CSV file, and recognize the main two types in pandas, a Dataframe (2D) and a Series (1D)

In [2]:
TestSample_Dataframe = pd.read_csv("./../SampleData/FL_insurance_sample.csv")
print(type(TestSample_Dataframe))
print(type(TestSample_Dataframe.iloc[0]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

A Jupyter notebook can be very useful when checking out dataframes from Pandas

In [3]:
TestSample_Dataframe

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36629,404309,FL,PINELLAS COUNTY,0.0,88722.00,0.0,88722.0,88722.00,155065.65,0.0,0.0,0.0,0,28.122885,-82.770218,Residential,Wood,3
36630,465875,FL,PINELLAS COUNTY,1297057.5,1297057.50,1297057.5,1297057.5,1297057.50,1577500.79,0.0,0.0,0.0,0,28.080900,-82.758800,Residential,Masonry,1
36631,791209,FL,PINELLAS COUNTY,173286.9,173286.90,0.0,0.0,173286.90,205527.97,0.0,0.0,0.0,0,28.110550,-82.766360,Residential,Wood,4
36632,322627,FL,PINELLAS COUNTY,1499781.6,1499781.60,0.0,0.0,1499781.60,1768782.43,0.0,0.0,0.0,0,28.089415,-82.697411,Residential,Masonry,3
36633,398149,FL,PINELLAS COUNTY,373488.3,373488.30,0.0,0.0,373488.30,596003.67,0.0,0.0,0.0,0,28.064440,-82.774590,Residential,Masonry,1

The information from a single row can be called through the row index using the dataframe function iloc

In [4]:
TestSample_Dataframe.iloc[0]

policyID                   119736
statecode                      FL
county                CLAY COUNTY
eq_site_limit              498960
hu_site_limit              498960
fl_site_limit              498960
fr_site_limit              498960
tiv_2011                   498960
tiv_2012                   792149
eq_site_deductible              0
hu_site_deductible         9979.2
fl_site_deductible              0
fr_site_deductible              0
point_latitude            30.1023
point_longitude          -81.7118
line                  Residential
construction              Masonry
point_granularity               1
Name: 0, dtype: object

When we need to clean data, we can focus on a subset of information, such as printing out a list of columns:

In [5]:
TestSample_Dataframe.columns

Index(['policyID', 'statecode', 'county', 'eq_site_limit', 'hu_site_limit',
       'fl_site_limit', 'fr_site_limit', 'tiv_2011', 'tiv_2012',
       'eq_site_deductible', 'hu_site_deductible', 'fl_site_deductible',
       'fr_site_deductible', 'point_latitude', 'point_longitude', 'line',
       'construction', 'point_granularity'],
      dtype='object')

Or printing out a list of unique values in a column:

In [6]:
TestSample_Dataframe["county"].unique()

array(['CLAY COUNTY', 'SUWANNEE COUNTY', 'NASSAU COUNTY',
       'COLUMBIA COUNTY', 'ST  JOHNS COUNTY', 'BAKER COUNTY',
       'BRADFORD COUNTY', 'HAMILTON COUNTY', 'UNION COUNTY',
       'MADISON COUNTY', 'LAFAYETTE COUNTY', 'FLAGLER COUNTY',
       'DUVAL COUNTY', 'LAKE COUNTY', 'VOLUSIA COUNTY', 'PUTNAM COUNTY',
       'MARION COUNTY', 'SUMTER COUNTY', 'LEON COUNTY', 'FRANKLIN COUNTY',
       'LIBERTY COUNTY', 'GADSDEN COUNTY', 'WAKULLA COUNTY',
       'JEFFERSON COUNTY', 'TAYLOR COUNTY', 'BAY COUNTY', 'WALTON COUNTY',
       'JACKSON COUNTY', 'CALHOUN COUNTY', 'HOLMES COUNTY',
       'WASHINGTON COUNTY', 'GULF COUNTY', 'ESCAMBIA COUNTY',
       'SANTA ROSA COUNTY', 'OKALOOSA COUNTY', 'ALACHUA COUNTY',
       'GILCHRIST COUNTY', 'LEVY COUNTY', 'DIXIE COUNTY',
       'SEMINOLE COUNTY', 'ORANGE COUNTY', 'BREVARD COUNTY',
       'INDIAN RIVER COUNTY', 'MIAMI DADE COUNTY', 'BROWARD COUNTY',
       'MONROE COUNTY', 'PALM BEACH COUNTY', 'MARTIN COUNTY',
       'HENDRY COUNTY', 'PASCO COUNTY', 'GLADES COUNTY',
       'HILLSBOROUGH COUNTY', 'HERNANDO COUNTY', 'PINELLAS COUNTY',
       'POLK COUNTY', 'North Fort Myers', 'Orlando', 'HIGHLANDS COUNTY',
       'HARDEE COUNTY', 'MANATEE COUNTY', 'OSCEOLA COUNTY', 'LEE COUNTY',
       'CHARLOTTE COUNTY', 'COLLIER COUNTY', 'SARASOTA COUNTY',
       'DESOTO COUNTY', 'CITRUS COUNTY'], dtype=object)

We can also focus on/edit a small part of the whole dataframe by applying conditions to the dataframe, such as specific conditions to a single column

In [7]:
Filter1 = TestSample_Dataframe.loc[(TestSample_Dataframe["county"]=="FRANKLIN COUNTY") & (TestSample_Dataframe["eq_site_limit"].gt(1.0))]
Filter1

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
5119,481615,FL,FRANKLIN COUNTY,262417.5,262417.5,262417.5,262417.5,262417.5,296493.99,0.0,0.0,0.0,0,29.726414,-84.985733,Residential,Wood,1
5120,906547,FL,FRANKLIN COUNTY,240500.7,240500.7,240500.7,240500.7,240500.7,182597.75,0.0,0.0,0.0,0,29.726414,-84.985733,Residential,Wood,1
5121,748767,FL,FRANKLIN COUNTY,81900.0,81900.0,81900.0,81900.0,81900.0,90565.02,0.0,0.0,0.0,0,29.726414,-84.985733,Residential,Wood,1
5251,425957,FL,FRANKLIN COUNTY,38520.0,38520.0,38520.0,38520.0,38520.0,42492.57,0.0,0.0,0.0,0,29.735466,-84.882439,Residential,Wood,1
5252,984289,FL,FRANKLIN COUNTY,481496.4,481496.4,0.0,0.0,481496.4,566795.89,0.0,0.0,0.0,0,29.663502,-84.865135,Residential,Masonry,3

Additional ways to filter, or clean out information, include manipulating only information on a subset of columns

In [8]:
Filter2=Filter1[["policyID","statecode","county","eq_site_limit"]]
Filter2

      policyID statecode           county  eq_site_limit
5119    481615        FL  FRANKLIN COUNTY       262417.5
5120    906547        FL  FRANKLIN COUNTY       240500.7
5121    748767        FL  FRANKLIN COUNTY        81900.0
5251    425957        FL  FRANKLIN COUNTY        38520.0
5252    984289        FL  FRANKLIN COUNTY       481496.4

This subset of information is a copy of the original set, we are not editing the original dataframe here.

If we continue editing this new dataframe extracted from the original, we might want to initialize a new column:

In [9]:
Filter2["newColumn"] = ""
Filter2

<ipython-input-9-b59be7be1aac>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Filter2["newColumn"] = ""

      policyID statecode           county  eq_site_limit newColumn
5119    481615        FL  FRANKLIN COUNTY       262417.5
5120    906547        FL  FRANKLIN COUNTY       240500.7
5121    748767        FL  FRANKLIN COUNTY        81900.0
5251    425957        FL  FRANKLIN COUNTY        38520.0
5252    984289        FL  FRANKLIN COUNTY       481496.4

You might realize that the index in this new dataframe is the same index as the original dataframe. If we only want to manipulate the new dataframe, then we can easily reset the indexes.

In [10]:
Filter2.append(Filter2[:2],ignore_index=True)

   policyID statecode           county  eq_site_limit newColumn
0    481615        FL  FRANKLIN COUNTY       262417.5
1    906547        FL  FRANKLIN COUNTY       240500.7
2    748767        FL  FRANKLIN COUNTY        81900.0
3    425957        FL  FRANKLIN COUNTY        38520.0
4    984289        FL  FRANKLIN COUNTY       481496.4
5    481615        FL  FRANKLIN COUNTY       262417.5
6    906547        FL  FRANKLIN COUNTY       240500.7

Going through the rows in a loop:

In [11]:
for idx, row in Filter2.iterrows():
    Filter2.loc[idx,["newColumn"]]=str(Filter2["policyID"])+ " stuff"
Filter2

/import/freenas-m-02-seismology/jhayek/miniconda3/envs/laura/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

,policyID,statecode,county,eq_site_limit,newColumn
5119,481615,FL,FRANKLIN COUNTY,262417.5,5119 481615\n5120 906547\n5121 748767...
5120,906547,FL,FRANKLIN COUNTY,240500.7,5119 481615\n5120 906547\n5121 748767...
5121,748767,FL,FRANKLIN COUNTY,81900.0,5119 481615\n5120 906547\n5121 748767...
5251,425957,FL,FRANKLIN COUNTY,38520.0,5119 481615\n5120 906547\n5121 748767...
5252,984289,FL,FRANKLIN COUNTY,481496.4,5119 481615\n5120 906547\n5121 748767...

In [12]:
Filter2.iloc[0].tolist()

[481615,
 'FL',
 'FRANKLIN COUNTY',
 262417.5,
 '5119    481615\n5120    906547\n5121    748767\n5251    425957\n5252    984289\nName: policyID, dtype: int64 stuff']

sorting according to two columns

In [13]:
df = pd.DataFrame({
    'col1': ['A', 'A', 'B', 'C', 'D', 'C'],
    'col2': [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3],
    'col4': ['a', 'B', 'c', 'D', 'e', 'F']
})
df

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3    C     8     4    D
4    D     7     2    e
5    C     4     3    F

In [14]:
df.sort_values(by=['col1', 'col2'])

  col1  col2  col3 col4
1    A     1     1    B
0    A     2     0    a
2    B     9     9    c
5    C     4     3    F
3    C     8     4    D
4    D     7     2    e

In [15]:
df.T

      0  1  2  3  4  5
col1  A  A  B  C  D  C
col2  2  1  9  8  7  4
col3  0  1  9  4  2  3
col4  a  B  c  D  e  F